.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.paginationContainer {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.active {
  display: flex;
  justify-content: center;
  background-color: rgb(51, 62, 235);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  list-style: none;
  color: #fff;
}
.pageClassName {
  list-style: none;
  cursor: pointer;
}
.previous {
  list-style: none;
  cursor: pointer;
}
.next {
  list-style: none;
  cursor: pointer;
}
